page-home {
	.col-info {
		margin-bottom: 15px;
		color: #232222;
	}
	.col-info .info small {
		font-size: 14px;
		font-weight: bold;
		padding-left: 10px;
	}
	.col-info .info small span {
		font-size: 10px;
		font-weight: regular;
	}
	.col-info .info h2 {
		margin-top: 3px;
		padding-left: 10px;
		font-size: 19px;
		font-weight: bold;
	}
}